1 ICON "C:/dev/hina-view/icon_win/hinaview.ico"
101 ICON "C:/dev/hina-view/icon_win/webp.ico"
102 ICON "C:/dev/hina-view/icon_win/avif.ico"
103 ICON "C:/dev/hina-view/icon_win/heif.ico"
104 ICON "C:/dev/hina-view/icon_win/heic.ico"
105 ICON "C:/dev/hina-view/icon_win/jxl.ico"
106 ICON "C:/dev/hina-view/icon_win/jpeg.ico"
107 ICON "C:/dev/hina-view/icon_win/png.ico"
108 ICON "C:/dev/hina-view/icon_win/gif.ico"
109 ICON "C:/dev/hina-view/icon_win/bmp.ico"
110 ICON "C:/dev/hina-view/icon_win/tiff.ico"
111 ICON "C:/dev/hina-view/icon_win/tga.ico"
112 ICON "C:/dev/hina-view/icon_win/dds.ico"
113 ICON "C:/dev/hina-view/icon_win/exr.ico"
114 ICON "C:/dev/hina-view/icon_win/hdr.ico"
115 ICON "C:/dev/hina-view/icon_win/pnm.ico"
116 ICON "C:/dev/hina-view/icon_win/ico.ico"
201 ICON "C:/dev/hina-view/icon_win/cbz.ico"
